<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>enterprise</string>
    <key>teamID</key>
    <string>FAKE</string>
    <key>compileBitcode</key>
    <false/>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>manifest</key>
    <dict>
        <key>appURL</key>
        <string>https://example.com/homy.ipa</string>
        <key>displayImageURL</key>
        <string>https://example.com/image.57x57.png</string>
        <key>fullSizeImageURL</key>
        <string>https://example.com/image.512x512.png</string>
    </dict>
    <key>signingStyle</key>
    <string>manual</string>
    <key>stripEntitlements</key>
    <true/>
    <key>iCloudContainerEnvironment</key>
    <string>Production</string>
</dict>
</plist>
